<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>Lalibela</title>
    </head>
    <body>
        
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <img src="../static/img/place2.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        
                    </div>
                    <p style="color: white; font-size: large;">
Lalibela (Amharic: ላሊበላ) is a town in the Amhara Region of Ethiopia. Located in the Lasta district and North Wollo Zone, it is a tourist site for its famous rock-cut monolithic churches designed in contrast to the earlier monolithic churches in Ethiopia.[1] The whole of Lalibela is a large and important site for the antiquity, medieval, and post-medieval civilization of Ethiopia.[1] To Christians, Lalibela is one of Ethiopia's holiest cities, and a center of pilgrimage.

Ethiopia was one of the earliest nations to adopt Christianity in the first half of the 4th century, and its historical roots date to the time of the Apostles. The churches themselves date from the 7th to 13th centuries, and are traditionally dated to the reign of the Zagwe (Agaw) king Gebre Mesqel Lalibela (r. c. 1181–1221).[2]

The layout and names of the major buildings in Lalibela are widely accepted, especially by local clergy, to be a symbolic representation of Jerusalem.[3] This has led some experts to date the current church construction to the years following the capture of Jerusalem in 1187 by the Muslim leader Saladin.[4]

Lalibela is roughly 2,500 metres (8,200 ft) above sea level. It is the main town in Lasta, which was formerly part of the Bugna district. The rock-hewn churches were declared a World Heritage Site in 1978.</p>
                    </div>
            
            
<section class="subscribe section">
        <div class="subscribe__bg">
            <div class="container">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=12.033695980636272,%2039.046933594304214+(My%20Business%20Name)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>              
            </div>
        </div>
    </section>
            
        </main>
         <!--=============== SCROLL REVEAL===============-->
    <script src="../static/js/scrollreveal.min.js"></script>
    
    <!--=============== SWIPER JS ===============-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    </body>
    </html>