<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../static/css/styles.css">

        <title>Blue Nile</title>
    </head>
    <body>
        
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home">
                <img src="../static/img/place4.jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        
                    </div>
                    <p style="color: white; font-size: large;">The Blue Nile originates at Lake Tana in Ethiopia (where it is called the Abay River). The river flows generally south before entering a canyon about 400 km (250 mi) long, about 30 km (19 mi) from Lake Tana, which is a tremendous obstacle for travel and communication between north and south Ethiopia. The canyon was first referred to as the "Grand Canyon" in 1968 by a British team that accomplished the first descent of the river from Lake Tana to the end of the canyon; subsequent river rafting parties called it the "Grand Canyon of the Nile".[2] The Blue Nile Falls (Amharic: Tis Abay, literally "great smoke"), one of Ethiopia's biggest tourist attractions, is located at the start of the canyon.

The river loops across northwest Ethiopia before being fed by numerous tributaries between Lake Tana and the Ethiopia–Sudan border. Those on its left bank, in downstream order, include the Wanqa River, the Bashilo River, the Walaqa River, the Wanchet River, the Jamma River, the Muger River, the Guder River, the Agwel River, the Nedi River, the Didessa River and the Dabus River. Those on the right side, also in downstream order, include the Handassa, Tul, Abaya, Sade, Tammi, Cha, Shita, Suha, Muga, Gulla, Temcha, Bachat, Katlan, Jiba, Chamoga, Weter and the Beles.
</p>
                    </div>
            
            
<section class="subscribe section">
        <div class="subscribe__bg">
            <div class="container">
              <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Blue%20Nile%20river+(My%20Business%20Name)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>             
            </div>
        </div>
    </section>
            
        </main>
         <!--=============== SCROLL REVEAL===============-->
    <script src="../static/js/scrollreveal.min.js"></script>
    
    <!--=============== SWIPER JS ===============-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
    </body>
    </html>